*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-child  {
    display: flex;
    align-items: center;
    padding: 1%;
    border: 2px solid;
    border-color: #155eef;
    border-radius: 8px;
  }
  .one{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info{
    display: flex;
    align-items: center;
}