* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --apple: #8ea604;
  --offwhite: #cbd68c;
  --appleblue: #212738;
  --white: #ffffff;
}
.calender{
  height: 550px;
}
.calenderheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
  padding: 5%;
  border-radius: 12px;
  border: 2px solid var(--appleblue);
  background-color: var(--appleblue);
}
.calenderheader h1{
  color: var(--foundation-apple-green-apple-green-500, #8EA604);
font-family: Roboto;
font-size: 21px;
font-weight: 700;
}
ul {
  list-style-type: none;
}
body {
  font-family: Verdana, sans-serif;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: var(--white);
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: var(--appleblue);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: right;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: var(--white);
}

.weekdays li {
  display: inline-block;
  width: 12%;
  color: var(--appleblue);
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #ffffff;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: var(--appleblue);
}

.days li .active {
  padding: 5px;
  border-radius: 50%;
  background: #cbd68c;
  color: white !important;
}
.loadhead{
  color: #000;
font-family: Roboto;
font-size: 21px;
font-weight: 700;
text-align: center;
}
/*aside styling in column*/
article {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  

  
}
article section {
  width: 100%;
  border-radius: 12px;
  border: 2px solid var(--foundation-raisin-black-raisin-black-200, #999ca3);
  background: #fff;
}
aside {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 16px;
}
.button {
  display: flex;
  flex-direction: column;
}
.button button {
  background-color: var(--appleblue);
  border-radius: 8px;
  border-color: var(--appleblue);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  color: var(--apple);
}

aside section {
  border-radius: 12px;
  border: 2px solid var(--foundation-raisin-black-raisin-black-200, #999ca3);
  background: #fff;
  padding: 2% 8%;

}

/* Add media queries for smaller screens */
@media screen and (max-width: 784px) {
  .hamburger{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .one nav{
    display: none;
  }
  .loadhead{
    margin: 40%;
  }
  article{
    display: flex;
    flex-direction: column-reverse;
  }
  
  .three{
    display: flex;
    flex-direction: column;
  }
  .three .information{
    width: 100%;
  }
  .three section {
    width: 80%;
  }
  .form p{
    width: 70%;
  }
  
}
@media screen and (max-width:1270px) {
  .loadhead{
    margin: 20%;
  }
}
@media screen and (max-width: 720px) {
  .weekdays li,
  .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 12.5%;
  }
  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 12.2%;
  }
}
