
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}
button{
  cursor: pointer;
}

.core-header-flex-child-one nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 2%;
}
  .core-header-flex-child-one nav .info {
    display: flex;
    justify-content: space-between;
    width: 33.33%;
  }
  .core-header-flex-child-one .success {
    padding-top: 10%;
    padding-bottom: 20%;
    color: #fff;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
  nav .info a {
    text-decoration: none;
    color: #212738;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  nav .info a:nth-child(2) {
    color: #8ea604;
  }
  .hamburger{
    display: none;
  }
  nav .button1 {
    background-color: #212738;
    border: #212738;
    border-radius: 12px;
    padding: 14px 22px;
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }
  nav .button2 {
    padding: 14px 22px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #8ea604;
    border: #8ea604;
    color: #fff;
  }
  
  .action {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
  }
  
  nav .button2 p {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }

.firstcard{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

}
.firstcard_h1{
    font-family: Roboto;
    font-size: 31px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #8EA604;
}
.firstcard_p{
   font-size: 20px;
   font-weight: 400;
   line-height: 27px;
   letter-spacing: 0em;
   color: #171C28;
}
.firstcard_images{
    display: flex;
    flex-direction: row;
    /* margin: 3% 2% 5% 3%; */
    justify-content: space-between;
    margin: 0 5%;
}
.firstcard_images img{
    margin: 0.5%;
}
.firstcard_images_mobile{
    display: none;
}
/* .firstcard_images_mobile{
    display: none;
} */
.secondcard{
    display: flex;
    margin: 3% 2% 5% 3%;
}
.secondcard h3{
    color: #8EA604;
    margin-bottom: 3%;
    font-family: Roboto;
    font-size: 31px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.secondcard p{
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1%;
}
.secondcard_content{
    width: 50%;
    margin-left: 3%;
}
.secondcard_image_mobile{
    display: none;
}

footer {
    background-color: #212738;
  }
  footer .three {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
    padding: 5% 2%;
  }
  
  footer .add {
    background-color: #8ea604;
    padding-top: 1%;
  }
  
  footer .information p {
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    margin: 8% 0;
  }
  
  footer.form p {
    color: #fff;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 8%;
  }
  
  footer .three section {
    width: 20%;
  }
  
  footer .explore,
  .form {
    margin-bottom: 6%;
  }
  
  footer .explore a {
    text-decoration: none;
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
  }
  footer .explore li {
    list-style: none;
    margin-top: 8%;
  }
  footer .headli a {
    color: var(--foundation-apple-green-apple-green-500, #8ea604);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
  }
  footer .three .information {
    width: 30%;
  }
  footer .form p {
    color: #fff;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
  }
  footer .form input {
    padding: 3% 24%;
  }
  footer .form button {
    background-color: #8ea604;
    color: #fff;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    border: none;
    border-radius: 12px;
    padding: 3% 35.5%;
    margin-top: 6%;
  }
  footer hr {
    color: #fff;
    width: 95%;
    margin: 0 auto;
  }
  footer .information1 {
    padding: 3%;
  }
  footer .information1 h2 {
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  @media screen and (max-width:900px) {
    .hamburger{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .core-header-flex-child-one nav{
      display: none;
    }
    
    article{
      padding: 0;
    }
    footer .three{
      display: flex;
      flex-direction: column;
    }
    footer .three .information{
      width: 100%;
    }
    footer .three section {
      width: 80%;
    }
    .form p{
      width: 70%;
    }
    
    }






@media (max-width: 900px){
    body{
        width: 90%;
    }
    .firstcard{
      margin-left: 5%;
    }
    .firstcard_h1{
        font-family: Roboto;
        font-size: 31px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
    }
    .firstcard_p{
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 5%;
    }
    .firstcard_images_mobile {
        display: flex;
    }
    .firstcard_images_mobile img{
        width: 100%;
        margin: 0.5%;
    }
    .firstcard_images_mobile img:nth-of-type(1){
        margin-left: 7%;
    }
    
    .firstcard_images{
        display: none;
    }
    .secondcard {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 10%;
        width: 100%;
        margin-left: 5%;
    }
    .secondcard h3{
        font-weight:600;
        Size:20px;
        Line-height:28.13px;
    }
    .secondcard p{ 
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;

    }
    .secondcard_content{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20%;
    }
    .secondcard_image{
        display: none;
    }
    .secondcard_image_mobile{
        display: flex;
        align-items: center;
    }
    .secondcard_image_mobile img{
        width: 100%;
    }
}